<div class="container">
  <form *ngIf="form" [formGroup]="form">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <app-input-button-dropdown 
          formControlName="ibd" 
          [options]="IBDOptions"
        ></app-input-button-dropdown>
      </div>
      <div class="col-md-6 col-sm-12">
        <app-multi-select
          *ngIf="MSOptions && MSOptions.length"
          [options]="MSOptions"
          [multi]="true"
          [placeholder]="'Select option'"
          formControlName="ms"
        ></app-multi-select>
      </div>
    </div>
  </form>
  <pre>{{form.value | json}}</pre>
</div>